#Introduction {
    /* This will add an outline to the box */
    border: 5px solid black;
    /* This will compress the content into the box */
    padding: 20px;
    /* This will center the box */
    margin: auto;
    /* This will change the background color of the box */
    background-color: white;
    /* This will change the width of the box */
    width: 50%;
}

h1, h2 {
    /* This will change the text color */
    color: blue;
    /* This will align the text to the center */
    text-align: center;
}

p {
    /* This will change the text color */
    color: #000000;
    /* This will align the text to the left */
    text-align: left;

    font-size: x-large;
}

#Game {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#dieRoll, #accumulatedScore {
    font-size: 1em; /* adjust as needed */
    text-align: center;
}